pkgbase = amph
	pkgdesc = Practical Arch Linux package management assistant
	pkgver = 1.12.4
	pkgrel = 2
	url = https://github.com/DAMIOTF/Arch-Meta-Package-Harmonizer
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = pacman

pkgname = amph
